.footer {
    padding: 0;
    height: 100%;
    display: block;
    color: #FFFFFF;
}

.footer p {
    margin: 0;
    padding: 5px 0;
}

.footer .top {
    background-color: #49515F;
    padding: 25px 25px;
    display: block;
    height: 200px;
}

.footer .top .left {
    width: 60%;
    float: left;
    margin-right: 20px;
}

.footer .top .right {
    width: 30%;
    float: right;
    text-align: right;
}

.footer .top .right a {
    display: block;
    line-height: 1.4;
}

.footer .bottom {
    background-color: #282C34;
    padding: 25px;
    text-align: center;
}