body {
  margin: 0;
  font-family:'Montserrat';
  src: local('Montserrat'), url(./assets/fonts/Montserrat-Regular.ttf);
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
